In [1]:
from google.colab import drive
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/drive/My Drive/documents/projects/DeCaf/data/raw_train_data.csv")
print(df.head())

                                                 url  ...   label
0  /questions/60662905/how-i-can-return-an-instan...  ...  design
1  /questions/60662522/sql-postgresql-design-sugg...  ...  design
2  /questions/60660432/java-gson-json-serializers...  ...  design
3  /questions/60659995/why-are-the-props-onclose-...  ...  design
4  /questions/60658454/how-to-handle-multiple-api...  ...  design

[5 rows x 6 columns]

In [0]:
def process(data, target, label, n=10):
  data = data[[target, 'label']]
  data = data[data['label'] == label]
  data = data.dropna()
  data = data[data[target].str.count(" ") > 9]
  return data

In [6]:
qd = process(df, 'question', 'design')
print(qd.shape)
qd.head()

(68721, 2)

                                            question   label
0  return instance class using builder pattern tr...  design
1  design multiple references object acting sibli...  design
2  java using design patterns working desktop mus...  design
3  props close marked required understand need pr...  design
4  handle multiple having purpose closed want imp...  design

In [7]:
ad = process(df, 'answer', 'design')
print(ad.shape)
ad.head()

(57306, 2)

                                              answer   label
0  misunderstood operator least think line automa...  design
1  create table store references siblings table i...  design
3  observer pattern docs open says fired when com...  design
5  singlet collection elements singletons however...  design
7  adapter typically used fill code when interfac...  design

In [8]:
cd = process(df, 'comment', 'design')
print(cd.shape)
cd.head()

(49939, 2)

                                             comment   label
0  work please clarify include actually problem c...  design
1  represent link model tables represent links co...  design
3  thank makes sense true observer pattern giving...  design
5  core data maybe parent treat others child elem...  design
6  almost always better using variable further pa...  design

In [9]:
qg = process(df, 'question', 'general')
print(qg.shape)
qg.head()

(53317, 2)

                                                question    label
70201  want system date format using angular need for...  general
70202  prevent default does prevent form submitting u...  general
70203  search elements remove class duplicate want se...  general
70204  rewind video website embedded video stats cert...  general
70205  read file just started getting need read write...  general

In [10]:
ag = process(df, 'answer', 'general')
print(ag.shape)
ag.head()

(23827, 2)

                                                  answer    label
70204  video hosted within restrictive setting preven...  general
70209  dynamic regular updated specific example objec...  general
70213  something using array minus start zero move in...  general
70218  depends trying first example code true example...  general
70221  thanks comment able find existing explains iss...  general

In [11]:
cg = process(df, 'comment', 'general')
print(cg.shape)
cg.head()

(31091, 2)

                                                 comment    label
70202  trying call check called welcome stack overflo...  general
70207  give little detail perhaps even show code usin...  general
70208  assigning object array give example headers ob...  general
70209  code looking lookup string want idea want chec...  general
70211  available remove events popup makes little sen...  general

In [0]:
questions = pd.concat([qd[0:50000], qg[0:50000]], axis=0)
questions = questions.sample(frac=1)
answers = pd.concat([ad[0:20000], ag[0:20000]], axis=0)
answers = answers.sample(frac=1)
comments = pd.concat([cd[0:30000], cg[0:30000]], axis=0)
comments = comments.sample(frac=1)

In [0]:
questions.to_csv("/content/drive/My Drive/documents/projects/DeCaf/data/train_data/questions.csv", index=False, header=True)
answers.to_csv("/content/drive/My Drive/documents/projects/DeCaf/data/train_data/answers.csv", index=False, header=True)
comments.to_csv("/content/drive/My Drive/documents/projects/DeCaf/data/train_data/comments.csv", index=False, header=True)